body{
    background-color: #222;
}

.navbar-div{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: auto;
    height: auto;
    /* font-family: "Lucida Console", "Courier New", monospace; */
}
.navbar-logo{
    
}

.right-navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: auto;
    min-width: 12em;
    top: 0.7em;
}

.navbar-button{
    width:5em;
    border-radius: 30px;
    background-color: #222;
    border-color: aliceblue;
    padding: 5px;
    color: lightgrey;
    position: relative;
    top: 5px;
    /* right: 3px; */
    text-decoration: none;
    font-size: 15px;    
}
.navbar-button:focus{
    outline: 0;
}
.navbar-button:hover{
    border-color: rgba(255,255,255,1);
    background-color:lightgrey;
    color: #222;
}